<div class="modal-header">
    <h4 class="modal-title pull-left">
        <i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">รหัสเดิม</label>
                    <input type="text" class="form-control" formControlName="password">
                </div>

                <div class="form-group">
                    <label for="">รหัสผ่านใหม่</label>
                    <input type="text" class="form-control" formControlName="new_password">
                </div>

                <div class="form-group">
                    <label for="">ยืนยันรหัสผ่าน</label>
                    <input type="text" class="form-control" formControlName="confirm_password">
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> เปลี่ยนรหัสผ่าน
            </button>
        </div>
    </div>
</form>